<template>
  <div
    class="grid grid-cols-2 justify-items-center lg:gap-4 md:gap-16 sm:gap-6 gap-2 cursor-pointer"
  >
    <picture
      v-for="i in 4"
      :key="i"
      class="picture-packets"
      @click="getIdPacket(i)"
    >
      <source
        media="(max-width: 575px)"
        :srcset="require('~/assets/img/packet-mobile.svg')"
      />
      <img :src="require('~/assets/img/packet.svg')" class="packets" />
    </picture>
  </div>
</template>
<script>
export default {
  methods: {
    getIdPacket(i) {
      this.$emit('clickPacket')
    },
  },
}
</script>
<style lang="scss" scoped>
.packets {
  transform: scale(0.75);
}
.picture-packets {
  transition-duration: 0.5s;
  &::before {
    content: url('~assets/img/effect-packet.svg');
    position: absolute;
    transform: scale(0.75) translate(-35%, -13%);
    visibility: hidden;
  }
  &:hover {
    transform: translateY(-10%);
  }
  &:hover::before {
    visibility: visible;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .packets {
    transform: scale(0.65);
  }
  .picture-packets {
    &::before {
      transform: scale(0.65) translate(-41%, -13%);
    }
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .packets {
    transform: scale(1);
  }
  .picture-packets {
    &::before {
      transform: scale(1) translate(-31%, -13%);
    }
  }
}
@media (max-width: 575px) {
  .packets {
    transform: scale(1.1);
  }
  .picture-packets {
    &::before {
      display: none;
    }
  }
}
</style>
