@import '~/assets/scss/base/all.scss';
@import '~/assets/scss/element/all.scss';
@import '~/assets/scss/tailwindcss/all.scss';
// Your global custom style

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background-color: rgba(#E9BF4F, 0.8);
  border-radius: 8px;
}

body {
  overflow-x: hidden;
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }
