<template>
  <div
    class="main-container w-screen h-screen flex justify-center items-center bg-theme-1"
  >
    <div class="p-0 bg-container w-full h-full">
      <div
        class="lg:w-1/2 w-full h-full lg:relative lg:float-right flex flex-col lg:justify-end justify-center items-center"
      >
        <login-facebook
          @loginFacebook="loginFacebook"
          @processing="processing = true"
          @done="processing = false"
        />
      </div>
    </div>
    <processing-screen class="screen-processing" :processing="processing" />
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import { Message } from 'element-ui'
import { authActions } from '~/constants/vuex/auth'
import { LoginFacebook } from '~/components/uncommon/Auth'
import ProcessingScreen from '~/components/common/Templates/ProcessingScreen'
export default {
  components: {
    LoginFacebook,
    ProcessingScreen,
  },
  middleware: ['notAuthenticated'],
  data() {
    return {
      windowWidth: process.client ? window.innerWidth : 0,
      dialogVisible: false,
      result: 0,
      processing: false,
    }
  },
  mounted() {
    window.onresize = () => {
      this.windowWidth = window.innerWidth
    }
  },

  methods: {
    ...mapActions({
      login: authActions.LOGIN,
    }),
    async loginFacebook(payload) {
      try {
        await this.login(payload)
        this.$router.push('/')
      } catch (e) {
        Message(e)
      } finally {
        this.processing = false
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.main-container,
.screen-processing {
  min-height: 920px !important;
}
.bg-container {
  max-width: 1440px;
  max-height: 900px;
  background: url(~assets/img/desktop-bg.jpg) no-repeat center center;
  background-size: contain;
}
.screen-processing {
  background: #000000b5;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .bg-container {
    max-height: 700px;
  }
}

@media (max-width: 1023px) {
  .bg-container {
    max-width: 900px;
    max-height: 1920px;
    background: url('~assets/img/tablet-bg.jpg') no-repeat center;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 575px) {
  .main-container,
  .screen-processing {
    min-height: 900px !important;
  }
  .bg-container {
    background: url('~assets/img/mobile-bg.jpg') no-repeat center;
    background-size: contain;
  }
}
</style>
