@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-Black.otf);
    font-weight: bolder;
}
@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-BlackItalic.otf);
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-Italic.otf);
    font-style: italic;
}
@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-Light.otf);
    font-weight: lighter;
}
@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-LightItalic.otf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-Medium.otf);
}
@font-face {
    font-family: 'Google';
    src: url(~assets/fonts/GoogleSans-MediumItalic.otf);
    font-style: italic;
}
@font-face {
    font-family: 'FS BlondeScript';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/FS BlondeScript-Regular.otf');
  }
  