<template>
  <div
    class="main-container w-screen h-screen flex justify-center items-center bg-theme-1"
  >
    <div class="p-0 bg-container w-full h-full">
      <div
        class="lg:w-1/2 w-full h-full lg:relative lg:float-right flex flex-col lg:justify-end justify-center items-center"
      >
        <packets class="lg:absolute container-packets" @clickPacket="getGift" />
        <div
          class="pick-card-text lg:absolute xl:py-3 py-2 lg:mt-0 md:mt-16 sm:mt-10 mt-2 text-center uppercase xl:text-xl md:text-lg text-base text-theme-2"
        >
          <p>BẠN HÃY CHỌN MỘT BAO LÌ XÌ NHA ^^</p>
        </div>
      </div>
    </div>
    <processing-screen class="screen-processing" :processing="processing" />
    <div>
      <el-dialog
        :visible.sync="dialogVisible"
        center
        :width="windowWidth >= 1000 ? '900px' : '90vw'"
      >
        <img :src="require('~/assets/img/sgr-logo.svg')" class="inline" />
        <div class="text-result text-theme-1 text-2xl mt-8 mb-24">
          <span v-html="result"></span>
        </div>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import { giftActions } from '~/constants/vuex/gift'
import { Packets } from '~/components/uncommon/Home'
import ProcessingScreen from '~/components/common/Templates/ProcessingScreen'
export default {
  components: {
    Packets,
    ProcessingScreen,
  },
  middleware: ['authenticated'],
  data() {
    return {
      windowWidth: process.client ? window.innerWidth : 0,
      dialogVisible: false,
      result: '',
      processing: false,
    }
  },
  computed: {
    ...mapState({
      stateGift: (state) => state.gift,
    }),
  },
  mounted() {
    window.onresize = () => {
      this.windowWidth = window.innerWidth
    }
  },
  methods: {
    ...mapActions({
      getRandomgift: giftActions.GETRANDOMGIFT,
    }),
    async getGift() {
      this.processing = true
      try {
        await this.getRandomgift()
        this.result = `<div class="result">"${
          this?.stateGift?.wish ? this.stateGift.wish.content : ''
        }"
          <br />
          ${
            this?.stateGift?.gift
              ? this.stateGift.gift.value > 0
                ? `Chúc mừng bạn nhận được ${this.stateGift.gift.value} ngàn đồng`
                : ''
              : ''
          }</div>`
      } catch (e) {
        if (e.status === 400) {
          this.result = 'Bạn đã hết lượt chọn đợi năm sau nhé'
        } else {
          this.result = e.data.message
        }
      } finally {
        setTimeout(() => {
          this.processing = false
          this.dialogVisible = true
        }, 2000)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.main-container,
.screen-processing {
  min-height: 920px !important;
}
.bg-container {
  max-width: 1440px;
  max-height: 900px;
  background: url(~assets/img/desktop-bg.jpg) no-repeat center center;
  background-size: contain;
}
.pick-card-text {
  min-width: 380px;
  width: 42%;
  border: 3px solid var(--color-theme-2);
  border-radius: 15px;
  font-family: FS BlondeScript;
  left: 5%;
  bottom: 12%;
}
.text-result {
  font-family: FS BlondeScript;
  word-break: keep-all;
}
::v-deep .el-dialog {
  background: url('~assets/img/bg-dialog.jpg') no-repeat center;
  background-size: cover;
  min-height: 475px;
  border-radius: 50px;
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    text-align: center;
  }
}
.container-packets {
  top: 50%;
  left: 15%;
}
.screen-processing {
  background: #000000b5;
}
@media (min-width: 1280px) and (max-width: 1535px) {
  .container-packets {
    top: 45%;
    left: 15%;
  }
  .pick-card-text {
    left: 3%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .bg-container {
    max-height: 700px;
  }
  .container-packets {
    top: 42%;
    left: 12%;
  }
  .pick-card-text {
    min-width: 300px;
    left: 3%;
    bottom: 10%;
  }
}

@media (max-width: 1023px) {
  .bg-container {
    max-width: 900px;
    max-height: 1920px;
    background: url('~assets/img/tablet-bg.jpg') no-repeat center;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container-packets {
    margin-top: 22rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-packets {
    margin-top: 14rem;
  }
}

@media (max-width: 575px) {
  .main-container,
  .screen-processing {
    min-height: 900px !important;
  }
  .bg-container {
    background: url('~assets/img/mobile-bg.jpg') no-repeat center;
    background-size: contain;
  }
  .container-packets {
    margin-top: 32rem;
  }
  .pick-card-text {
    min-width: 300px;
  }
}
</style>
