<template>
  <el-button
    class="btn-facebook lg:absolute text-theme-2 xl:text-xl md:text-lg text-base"
    @click="logInWithFacebook"
  >
    <img
      :src="require('~/assets/img/logo-facebook.svg')"
      class="inline transform scale-50"
    />
    Đăng nhập bằng Facebook
  </el-button>
</template>

<script>
export default {
  async created() {
    await this.loadFacebookSDK(document, 'script', 'facebook-jssdk')
    await this.initFacebook()
  },
  methods: {
    initFacebook() {
      window.fbAsyncInit = async () => {
        await window.FB.init({
          appId: '2859100664333840',
          cookie: true,
          version: 'v13.0',
          xfbml: true,
        })
      }
    },
    loadFacebookSDK(d, s, id) {
      const fjs = d.getElementsByTagName(s)[0]
      if (d.getElementById(id)) {
        return
      }
      const js = d.createElement(s)
      js.id = id
      js.src = 'https://connect.facebook.net/en_US/sdk.js'
      fjs.parentNode.insertBefore(js, fjs)
    },
    logInWithFacebook() {
      this.$emit('processing')
      window.FB.login((response) => {
        if (response.authResponse) {
          this.$emit('loginFacebook', response.authResponse)
        } else {
          this.$emit('done')
        }
      })
      return false
    },
  },
}
</script>

<style lang="scss" scoped>
.btn-facebook {
  background: linear-gradient(180deg, #ed181a 0%, #a30506 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-color: var(--color-theme-2);
  font-family: FS BlondeScript;
  width: 355px;
  top: 50%;
  left: 7%;
  &:focus {
    outline: none;
  }
  &:active {
    border-color: var(--color-theme-2-700);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .btn-facebook {
    left: 0%;
  }
}

@media (max-width: 1023px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
  .btn-facebook {
    margin-top: 22rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .btn-facebook {
    margin-top: 14rem;
  }
}

@media (max-width: 575px) {
  .btn-facebook {
    margin-top: 28rem;
    width: 250px;
  }
}
</style>
