<template>
  <div
    class="absolute z-10 w-full h-full flex items-center"
    :style="processing ? 'visibility: visible;' : 'visibility: hidden;'"
  >
    <lottie :options="defaultOptions" :height="300" :width="300" />
  </div>
</template>
<script>
import Lottie from 'vue-lottie/src/lottie.vue'
import animationData from '~/assets/img/animation-loading.json'
export default {
  components: {
    Lottie,
  },
  props: {
    processing: {
      type: Boolean,
    },
  },
  data() {
    return {
      defaultOptions: { animationData },
    }
  },
}
</script>
