<template>
  <div class="main p-0 w-full">
    <!-- <Navbar @signInDialogTrigger="dialogVisible = true" /> -->
    <nuxt keep-alive />
    <!-- <Login /> -->
  </div>
</template>

<script>
export default {
  name: 'Default',
  components: {},
  methods: {
    triggerLoginForm() {
      this.$root.$emit('my-dialog-show', 'login-form')
    },
  },
}
</script>
<style lang="scss" scoped>
@media (min-width: 1400px) {
  .main {
    height: 100vh;
  }
}
</style>
